body {
    background-color: white;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.link {
    padding-right: 10px;
    padding-top: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: lightgrey;
}

.headerButton {
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 15px;
}

.headerButton:hover {
    background: lightgrey;
    border-radius: 50%;
    cursor: pointer;
}

.avatarButton {
    border: solid 2px;
    border-radius: 50%;
}

.topImage {
    border-radius: 50%;
}

main {
    height: calc(100vh - 130px);
}

.container {
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Searchbar {
    width: 520px;
    height: 40px;
    border-color: rgb(201, 201, 201);
    border-radius: 25px;
    font-size: 18px;
    padding-left: 30px;
}

h3 {
    margin-top: 0;
}

.mainButton {
    border-radius: 50%;
    font-size: 16px;
    height: 100px;
    background-color: white;
    border: none;
}

.mainButton:hover {
    background-color: lightgray;
    cursor: pointer;
    border-radius: 0%;
}

.shortCut {
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer {
    display: flex;
    justify-content: flex-end;
    position: static;
}

.footerButton {
    position: fixed;
    background-color: white;
    border-radius: 25px;
    color: rgb(0, 81, 255);
    height: 40px;
    width: 200px;
}

.footerButton:hover {
    background: lightgrey;
    cursor: pointer;
}